body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbf3f1;
    color: #f1f1f1;
    font-family: "JetBrains Mono",monospace;
    margin: 0px;
    height: 100vh;

}


.main{
    padding: 10px;
    background-color: #fbf3f1;
    display:flex;
    gap: 100px;
    justify-content: center;
    
}
/* #1c7690 - blue
#022539 - darkblue
#fb991c - orange
 */
.options{
    background-color: #1c7690;
    width: 100px;
    height: 400px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 15px 20px;
    gap: 10px;
    align-items: center;
    align-self: center;
}


.grid{
    background-color: rgb(0, 0, 0);
    
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.row{
    background-color: rgb(190, 174, 145);
    width: 100%;
    height: 100%;
    /* border:1px solid #ee6868; */

    display: flex;
    justify-content: space-around;

}

div{
    box-sizing: border-box;
}

.pixel{
    width: 100%;
    height: 100%;
    background-color: #022539;
    user-select: none;
    border-radius: 4px;
    
    
    /* border:1px solid #ee6868; */
}


 .reset {
    margin-bottom: auto;
    
}

.apply-size {
    
} 

/* CSS */
button {
  width: 100%;
  align-items: center;
  appearance: none;
  /* background-color: #FCFCFD; */
  background-color: #fb991c;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#49a0b6 0 -3px 0 inset;
  box-sizing: border-box;
  color: #1f3868;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select:none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}



.slider {
    
    height: 15px;
    -webkit-appearance: none;
    background: #ffe386;
    outline: solid 4px rgb(64, 82, 105);
    border-radius: 15px;
    overflow: hidden;
    
}

#color-picker{
    background-color: rgb(64, 82, 105);
    border: none;
    border-radius: 3px;
    padding: 8px 10px;
    height: 40px;

}

.color-text {
    margin-bottom: auto;
}


.footer{
    display: flex;
    width: 100%;
    background-color: #1f3868;
    color: #dadada;
    margin-top: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 30px;
    
}

